.env
.env.*
!.env.example

node_modules/
__pycache__/
*.py[cod]
*.db
*.sqlite
*.sqlite3

ml/models/*.pkl
*.log

.vscode/

backend/error.txt
backend/middleware_old
backend/report-test.pdf
backend/uploads

datasets/
frontend/chatbot-test.html

ml/dataset/*.csv
